[submodule "frontend"]
	path = frontend
	url = https://github.com/mirea-ninja/lct-hack-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/mirea-ninja/lct-hack-backend.git
[submodule "parser"]
	path = parser
	url = https://github.com/mirea-ninja/lct-hack-parser.git
	